.App
  display: flex
  align-items: center
  flex-direction: column
  min-height: 100vh
  background: #181818

  button
    height: 3rem
    margin-top: 2rem
    border-radius: 3rem
    background: #1db954
    border: none
    width: 12rem
    outline: none

    a
      text-decoration: none
      color: white
      font-weight: 600
      font-size: 14px
      text-transform: uppercase

  &__album
    margin-top: 3rem
    color: white

    &Card
      display: flex;
      border: 1px solid grey;
      width: 100%;
      background: #282828

      & ~ &
        margin-top: 1rem;

    &Image
      width: 10rem
      height: 10rem
      background-size: contain

    &Description
      color: #fff
      padding-left: 1rem

      &Name
        font-size: 20px
        font-weight: 600

