@import "theme/common-colors"
@import "theme/common-responsive"


.App
  background: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh

  h1
    color: $color-white
  button
    height: 3rem
    margin: 2rem 0
    border-radius: 3rem
    background: $color-button
    border: none
    width: 12rem
    outline: none

    a
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;

  &__album
    margin-top: 3rem;
    color: white;

    &Card
      display: flex
      border: 1px solid $color-border;
      background: $color-background-card;

      +screen-sm-minus
        flex-wrap: wrap;
        justify-content: center;

      &:nth-child(even)
        background: black
        opacity: .6

      & ~ &
        margin-top: 1rem;

    &Image
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 1rem;
      width: 15rem
      height: 15rem

    &Description
      color: $color-white

      +screen-sm-minus
        text-align: center

      &Name
        font-size: 20px
        font-weight: 600

